<!-- <div class="text-layout">
        <h1>{{ nombre | titlecase }}</h1>
        <h2>{{ valor | number }}</h2>

        <button pButton (click)="mostrarNombre()" label="Cambiar nombre" icon="pi pi-check" iconPos="right"></button>

        <p-card [header]="nombre | titlecase"
                subheader="Esto es un subheader">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore reprehenderit nemo nulla quidem architecto, deserunt vero minima, facilis, dignissimos assumenda et ipsam impedit eaque voluptate harum voluptas unde. Repellat, voluptates.
        </p-card>        
</div> -->
<app-menu></app-menu>